@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: span;
  background-color: #262626;
  font-family: 'Caprasimo', cursive;
  color: white;
  
}

.synth {
  border: 2px solid #afafaf;
  height: 100;
  width: 100vh;
  padding:2px;
  
}

/* Title */
#title {
  font-size: 20px;
  margin-bottom: 20px;
}

/* Synth Power Control */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.powerButton {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fe4a49;
  transition: .4s;
  border-radius: 17px;
}

.powerButton:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 13px;
}

input:checked + .powerButton {
  background-color: #52f321;
}

input:focus + .powerButton {
  box-shadow: 0 0 1px #52f321;
}

input:checked + .powerButton:before {
  transform: translateX(26px);
}

/* Octave Controls */
.octavecontrols {
  position: relative;
  padding: 5px;
  background-color: #fed766;
  border-bottom: 2px solid #afafaf;
}

/* Slider control area */
.sliderlfo {
  appearance: none;
  width: 100%;
  background-color: transparent;
  outline: none;
}

.sliderlfo::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background-color: #afafaf;
  border-radius: 5px;
}

.sliderlfo::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #fe4a49;
  border-radius: 50%;
  cursor: pointer;
}

.sliderlfo::-moz-range-track {
  width: 100%;
  height: 5px;
  background-image: linear-gradient( #fe4a49, #fe4);
  border-radius: 5px;
}

.sliderlfo::-moz-range-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #e6e6ea;
  border-radius: 50%;
  cursor: pointer;
}

.sliderlfo::-ms-track {
  width: 100%;
  height: 5px;
  background-color: #e6e6ea;
  border-radius: 5px;
}

.slider::-ms-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #fe4a49;
  border-radius: 50%;
  cursor: pointer;
}

/* Low frequency oscillator */
.slidervca {
  appearance: none;
  width: 100%;
  background-color: transparent;
  outline: none;
}

.slidervca::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background-color: #afafaf;
  border-radius: 5px;
}

.slidervca::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #2AB7CA;
  border-radius: 50%;
  cursor: pointer;
}

.slidervca::-moz-range-track {
  width: 100%;
  height: 5px;
  background-image: linear-gradient( #fe4a49, #fe4);
  border-radius: 5px;
}

.slidervca::-moz-range-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #2AB7CA;
  border-radius: 50%;
  cursor: pointer;
}

.slidervca::-ms-track {
  width: 100%;
  height: 5px;
  background-color: #e6e6ea;
  border-radius: 5px;
}

.slidervca::-ms-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #2AB7CA;
  border-radius: 50%;
  cursor: pointer;
}

/* VCA controls */


/* Waveform type VCA */
#waveformVcaOscillator {
  padding: 10px;
  background-color: #fe4a49;
  border-bottom: 2px solid #afafaf;
}

.wavetype label {
  margin-right: 10px;
}

/* Waveform type LFO */
#waveformLfoOscillator {
  padding: 10px;
  background-color: #2AB7CA;
}

/* Keyboard area */
#synth {
  text-align: center;
  width: 100%;
}

#keyboard {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.white-key {
  width: 30px;
  height: 120px;
  background-color: white;
  border: 1px solid #afafaf;
  cursor: pointer;
  margin-right: 0px;
  transition: background-color 0.2s;
}

.white-key:hover {
  background-image: linear-gradient(45deg, grey, white)
}

.black-key {
  width: 20px;
  height: 80px;
  right: 10px;
  background-color: black;
  position: relative;
  margin-top: -0px;
  margin-right: -20px;
  margin-bottom: 8px;
  border: 0px solid black;
  cursor: pointer;
  transition: background-color 0.2s;
}

.black-key:hover {
  background-image: linear-gradient(45deg, grey, black)
}

/* Additional Styles */

/* Distinctive bordering between each part */


/* Custom colors for LFO controls, VCA, and Octave slider */
.LFOcontrol {
  background-color: #2AB7CA;
  padding:20px;
}

.VCAcontrol {
  background-color: #fe4a49;
  padding: 20px;
}

.octavecontrols {
  background-color: #fed766;
}